body, input, button {
  font: 20px Trebuchet MS, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  background: #f6f6f6;
}

body>div {
  margin: auto;
  text-align: center;
}

body>div>* {
  margin: 10px;
}
