body, input, button {
  font: 20px Trebuchet MS, Helvetica, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  background: #f6f6f6;
}

header {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  animation: fadein .6s;
}

main {
  margin-top: 70px;
  height: 88%;
}

@keyframes fadein {
  from {
    opacity: 0;
  };
}