.item-list {
  padding: 10px 20px;
}

.item-list h2 {
  text-align: center;
}

.item-list .buttons {
  display: flex;
  padding: 10px 0;
}

.item-list ul {
  text-align: center;
}

.item-list li {
  padding: 3px 0;
}