body {
  margin: 0;
  padding: 5px;
  font: 20px Trebuchet MS;
}

pre {
  margin: 0;
  text-align: left;
}

button {
  font: 20px Trebuchet MS;
  margin: 2px;
  border: 1px solid;
}

button:hover {
  box-shadow: 0 0 2px 2px orange;
}

textarea {
  display: block;
}

#schemaBtns {
  display: flex;
  overflow: auto;
}

#schemaBtns button {
  font-size: 14px;
  border-radius: 10px;
}

#calendar {
}

.odd {
  border-radius: 10px;
  border-width: 2px;
}

.planned {
  background: #cff;
}

.planned.even {
  background: #abe4e4;
}

.do {
  background: #c2feb2;
}

.do.even {
  background: #a6dba1;
}

.done {
  background: #63e957;
}

.done.even {
  background: #56b83e;
}

.break {
  background: #d2fcfc;
}

.didbreak {
  background: #42fdfd;
}

.rest {
  background: #aae0f8;
}

.rested {
  background: #31beff;
}

.skipped {
  background: #ffccbc;
}

.do.final {
  background: #fdff85;
}

.done.final {
  background: #f3ff50;
}
