<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User case 4</title>
  <script src="burgers.js"></script>
</head>
<body>
  <button onclick="burgerMenu.toggle()">toggle</button>
  <button onclick="burgerMenu.open()">open</button>
  <button onclick="burgerMenu.close()">close</button>

  <script>
    const burgerOptions = {side: 'right'}
    const burgerItems = {
      "Home": '#',
      "Products": '#',
      "Support": openSupportPane,
      "About Us": '#',
      "Contacts": '#',
    }
    function openSupportPane() {
      console.log('support pane opened')
    }
    const burgerMenu = makeBurgerMenu(burgerOptions)
  </script>
</body>
</html>